.App > .container {
  padding-top: 10px;
}
.navbar-brand {
  font-size: 2rem;
}

/*Vote controls*/
.vote-icon {
  cursor: pointer;
  margin-left: 10px;
}

.vote-icon:hover{
  color: #EB6864;
}


/*Form Styles*/
.crud-form {
  background: lightgray;
  border-radius: 10px;
  padding: 15px 20px;
}


/*Post View*/
.post-sidebar-menu .btn-group-vertical{
  margin-top: 10px;
}